labsCM/Lab1/Result.txt
labsCM/Lab2/Input.txt
labsCM/Lab2/Console.txt
labsCM/Lab2/test.txt
labsCM/Lab3/Input.txt
labsCM/Lab3/Console.txt
labsCM/Lab3/test.txt
labsCM/Lab4/Console.txt
labsCM/Lab4/ResultNewton`s field.txt
labsCM/Lab4/ResultNewton`s.txt
labsCM/Lab4/ResultSimpleitteration.txt